{% extends 'book/base.html' %}
{% load static %}


{% block title %}  فروشگاه کتابینو | سبد خرید{% endblock %}
{% block main %}  

<br>
<h1 style="text-align: center;">سبد خرید</h1>
<hr>
<table class="table table-striped" style="text-align: center; width: 50%; float: right;">
    <thead>
        <tr>
            <th>تصویر کتاب</th>
            <th>نام کتاب</th>
            <th> قیمت کتاب </th>
            <th> حذف کتاب </th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}  
        <tr>
            <td><img src="{{item.product.image.url}}" alt="{{item.product.name}}" style="width: 50px;"></td>
            <td>{{item.product.name}}</td>
            <td> {{item.product.price}}</td>
            <td ><a href="{% url 'Cart:delete' item.pk %}" class="btn btn-danger"> <i class="fa fa-trash-o"></i> حذف</a></td>
        </tr>
        {% empty %}
        <p style="text-align: center;">سبد خرید شما خالی میباشد</p>
        {% endfor %}
    </tbody>
</table>

<section>
    <table class="table caption-top" style="text-align: center; width: 50%; float:left;">
        <thead>
            <tr>
              
                <th> جمع کل </th>
            </tr>
        </thead>
        <tbody>
    
            <tr>
           
                <td>{{cart_total}} تومان</td>
            </tr>

        </tbody>
    </table>

    <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button">تایید و پرداخت</button>

    </div>

</section>

{% endblock %}