{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} اضافه کردن نویسنده جدید{% endblock %}
{% block main %}
<br><br>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            {{form.name|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.slug|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.nationality|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.birth|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.death|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.picture|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.status|as_crispy_field}}
        </div>
        <div class="form-group col-md-12">
            {{form.media}}
            {{form.description|as_crispy_field}}
        </div>
        <div class="form-group col-md-6">
            <button>ذخیره</button>
        </div>
    </div>
</form>
{% endblock %}