{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} اضافه کردن کتاب جدید{% endblock %}
{% block main %}
<br><br>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            {{form.name|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.slug|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.code|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.author|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.translator|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.publisher|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            {{form.status|as_crispy_field}}
        </div>
        <div class="form-group col-md-2">
            {{form.pages|as_crispy_field}}
        </div>
        <div class="form-group col-md-2">
            {{form.published_date|as_crispy_field}}
        </div>
        <div class="form-group col-md-2">
            {{form.price|as_crispy_field}}
        </div>
        <div class="form-group col-md-2">
            {{form.image|as_crispy_field}}
        </div>
        <div class="form-group col-md-12">
            {{form.media}}
            {{form.description|as_crispy_field}}
        </div>
        <div class="form-group col-md-4">
            <button>ذخیره</button>
        </div>
    </div>
</form>
{% endblock %}

