{% extends 'book/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}  ورود کاربر {% endblock %}

{% block main %}

{% if messages %}
{% for message in messages %}
 <div class="text-center alert alert-{{ message.tags }}">
     {{ message|safe }}
 </div>
{% endfor %}
{% endif %}

<br>
<div class="banner-form" style="width: 50%; margin: auto;">
    <form method="post"> {% csrf_token %}
    
        <div class="form-group"> {% if form.username.errors %} نام کاربری اشتباه است {% endif %}
            <label>نام کاربری</label>
           {{form.username|add_class:'form-control'}}
           <div class="help-block">{{ form.username.errors }}</div>
        </div>

        <div class="form-group">
            <label>رمز عبور</label>
           {{form.password|add_class:'form-control'}}
           {% if form.password.errors %}
           <div class="errors">
            {% for error in form.password.errors %}
            <span>{{error}}</span>
            {% endfor %}
           </div>
           {% endif %}
        </div>

        <p>رمز عبور خود را فراموش کرده اید ؟</p>

        <button type="submit" class="btn btn-primary">وارد</button>
    </form>
    <br>
    <p>آیا حساب کاربری ندارید؟ برای ایجاد حساب کاربری <a href="{% url 'Account:singup' %}"> اینجا</a> را کلیک نمایید</p>
</div>
{% endblock %}