{% extends 'book/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} بازیابی رمز عبور  {% endblock %}

{% block main %}
<br><br>
<p style="text-align: center;">اگر رمز عبور خود را فراموش کرده اید، ایمیل خود را وارد نمایید تا لینک بازیابی رمز عبور به ایمیل شما ارسال گردد.</p>

<div class="banner-form" style="width: 50%; margin: auto;">
    <form method="post"> {% csrf_token %}
        <div class="form-group">
            {{ form.email.errors }} 
            <label>نام کاربری </label>
           {{ form.email|add_class:'form-control'}}
        </div>
  
        <button type="submit" class="btn btn-primary">ذخیره</button>
    </form>
</div>

{% endblock %}
