{% extends 'book/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} تغییر رمز عبور{% endblock %}

{% block main %}
<br>
<div class="banner-form" style="width: 50%; margin: auto;">
	<form method="post"> {% csrf_token %}
	
		<div class="form-group"> 
			<label>رمز عبور کنونی </label>
		   {{form.old_password|add_class:'form-control'}}
		</div>

		<div class="form-group">
			<label>رمز عبور جدید</label>
		   {{form.new_password1|add_class:'form-control'}}
		</div>

		<div class="form-group">
			<label>تکرار رمز عبور جدید</label>
		   {{form.new_password2|add_class:'form-control'}}
		</div>
		
		<button type="submit" class="btn btn-primary">ذخیره</button>
	</form>
</div>
{% endblock %}