{% load i18n %}{% autoescape off %}
{% blocktranslate %}شما این ایمیل را دریافت کرده اید زیرا درخواست بازیابی رمز عبور حساب کاربری خودتان در وبسایت کتابینو را داده اید.{% endblocktranslate %}

{% blocktranslate %}با کلیک کردن بر لینک زیر، میتوانید رمز عبور خود را بازیابی نمایید.{% endblocktranslate %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'اگر حساب کاربری خود را نیز فراموش کرده اید، حساب کاربری شما:' %} {{ user.get_username }}

{% translate "با تشکر از شما" %}

{% blocktranslate %}کتابینو{% endblocktranslate %}
{% blocktranslate %}{{ site_name }}{% endblocktranslate %}

{% endautoescape %}