{% extends 'book/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}  فروشگاه کتابینو | {{author.name}}{% endblock %}
{% block main %}    


{% if messages %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
        {{ message|safe }}
    </div>
{% endfor %}
{% endif %}
  <!-- Start Author-detail Area -->
  <section class="single-blog-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="blog-details-desc">
                    <div class="article-image">
                        <img src="{{author.picture.url}}" style="width: 300px;" alt="{{author.slug}}">
                    </div>
                    <div class="article-content">
                        <h3>{{author.name}}</h3>
                        <h3>ملیت: {{author.nationality}}</h3>
                        <h3>سال تولد: {{author.birth}}</h3>
                        <p>{{author.description|safe|linebreaks}}</p>
                    </div>
                    <!-- Start Relatied Book of Author Area -->
                    <br><br>
                    <div class="row">
                        <br> <br>
                        <h3> کتاب های موجود از {{author.name}}</h3>
                        {% for book in author.books.actived %}
                        <div class="col-lg-4 col-md-6">
                            <div class="single-products-box">
                                <div class="products-image">
                                    <a href="{% url 'Book:book_detail' book.slug %}">
                                        <img src="{{book.image.url}}" alt="{{book.slug}}">
                                    </a>
                                </div>
            
                                <div class="products-content">
                                    <h3><a href="{% url 'Book:book_detail' book.slug %}">{{book.name}}</a></h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- End Relatied Book of Author Area -->

                    <!-- Start Author-comment Area -->
                    <div class="comments-area">
                        <h3 class="comments-title">دیدگاه ها</h3>
                        <ol class="comment-list">
                            <li class="comment">
                                {% for comment in author.comments.actived %}
                                <article class="comment-body">
                                    <footer class="comment-meta">
                                        <div class="comment-author vcard">
                                            <b class="fn">{{comment.name}}</b>
                                        </div>
                                        <div class="comment-metadata">
                                            <time>{{ comment.created_on }}</time>
                                        </div>
                                    </footer>
                                    <div class="comment-content">
                                        <p>{{ comment.body }}</p>
                                    </div>
                                </article>
                                {% empty %}
                                <p> اولین دیدگاه را شما وارد کنید </p>
                                {% endfor %}    
                            </li>  
                        </ol>
                    
                        <br><br>
                        <div class="review-form">
                            <br><br>
                            <h3> دیدگاه شما در مورد «{{author.name}}»</h3>
                            <form  method="POST">
                                {% csrf_token %}
                               
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">  
                                            {{form.name|add_class:'form-control'}}  
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="form-group">
                                            {{form.email|add_class:'form-control'}}
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="form-group">
                                            {{form.body|add_class:'form-control'}}
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <button type="submit" class="default-btn">
                                           ارسال دیدگاه
                                            <span></span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- end Author-comment Area -->
                </div>
            </div>
    <!-- end Author-detail Area -->
{% endblock %}
