{% extends 'book/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %} فروشگاه کتابینو | {{book.name}} {% endblock %}

{% block main %}

{% if messages %}
{% for message in messages %}
    <div class="text-center alert alert-{{ message.tags }}">
        {{ message|safe }}
    </div>
{% endfor %}
{% endif %}
<!-- Start Page Title Area -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="page-title-content">
                    <h2>{{book.name}}</h2>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Product Details Area -->
<section class="product-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="product-details-image"> <img src="{{book.image.url}}" alt=""></div>
            </div>

            <div class="col-lg-6 col-md-12">
                <div class="product-details-desc">
                    <h3>{{book.name}}</h3>
                    <div class="price">
                        <span class="new-price">{{book.price}}</span>
                        <span class="old-price">{{book.price}}</span>
                    </div>
                    <div class="product-review">
                        <p> انتشارات: {{book.publisher}}  </p>
                        <p> مترجم: {{book.translator}}  </p>
                        <p> تاریخ انتشار کتاب به میلادی: {{book.published_date}}  </p>
                        <p> تعداد صفحات: {{book.pages}}  </p>
                        
                    </div>
                    <p>{{book.description|truncatewords:40}}</p>
                    <div class="product-add-to-cart">
                        <div class="input-counter">
                            <span class="minus-btn">
                                <i class="las la-minus"></i>
                            </span>
                            <input type="text" min="1" value="1">
                            <span class="plus-btn">
                                <i class="las la-plus"></i>
                            </span>
                        </div>
                        <button type="submit" class="default-btn">
                            Add to cart
                            <span></span>
                        </button>
                    </div>

                    <div class="buy-checkbox-btn">
                        <div class="item">
                            <input class="inp-cbx" id="cbx" type="checkbox">
                            <label class="cbx" for="cbx">
                                <span>
                                    <svg width="12px" height="10px" viewbox="0 0 12 10">
                                        <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                    </svg>
                                </span>
                                <span>I agree with the terms and conditions</span>
                            </label>
                        </div>
                        <div class="item">
                            <a href="#" class="btn btn-light">Buy it now!</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12">
                <div class="tab products-details-tab">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <ul class="tabs">
                                <li>
                                    <a href="#">
                                        <div class="dot"></div> 
                                        توضیحات
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="dot"></div> 
                                        دیدگاه ها
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <p>{{book.description}}</p>
                                    </div>
                                </div>
                            
                                <div class="tabs_item">
                                    <div class="products-details-tab-content">
                                        <div class="product-review-form">
                                            <div class="review-comments">
                                                {% for comment in book.comments.actived %}
                                                <div class="review-item">
                                                    <span><strong>{{ comment.name }}</strong> در تاریخ <strong>{{ comment.created_on }}</strong></span>
                                                    <p>{{ comment.body }}</p>
                                                </div>
                                            {% endfor %}
                                                
                                            </div>
                                            <br><br>
                                            <div class="review-form">
                                                <h3> دیدگاه شما در مورد کتاب  {{book.name}}</h3>
                                                <form  method="POST">
													{% csrf_token %}
                                                   
                                                    <div class="row">
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="form-group">  
                                                                {{form.name|add_class:'form-control'}}  
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 col-md-6">
                                                            <div class="form-group">
                                                                {{form.email|add_class:'form-control'}}
                                                            </div>
                                                        </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <div class="form-group">
                                                                {{form.body|add_class:'form-control'}}
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 col-md-12">
                                                            <button type="submit" class="default-btn">
                                                               ارسال دیدگاه
                                                                <span></span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Details Area -->
{% endblock %}