 {% extends 'book/base.html' %}
 {% load static %}

 {% block title %} فروشگاه کتابینو | خانه {% endblock %}
 {% block main %}
 
 <br><br>
 <!-- Start Book Banner Area -->
 <div id="home" class="book-banner-area">   
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="main-banner-content">
                            <span> {{new_book.author}}</span>
                            <h1>{{new_book.name}}</h1>
                            <p>{{new_book.description|truncatewords:40}}</p>

                            <div class="banner-btn">
                                <a href="{% url 'Book:book_detail' new_book.slug %}" class="default-btn">
                                    جزیات بیشتر
                                    <span></span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="banner-image">
                            <img src="{{new_book.image.url}}" alt="{{b.slug}}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<!-- End Book Banner Area -->
<br><br><br>
<!-- Start Book Area -->
<section class="book-area ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>جدیدترین کتاب ها</h2>
        </div>
        
        <div class="book-slider owl-carousel owl-theme">
            {% for b in books %}
            <div class="book-item">
                <div class="image">
                    <a href="#">
                        <img src="{{b.image.url}}" alt="{{b.slug}}">
                    </a>
                    <div class="icon">
                        <a href="{% url 'Book:book_detail' b.slug %}" data-bs-toggle="modal" data-bs-target="#productsQuickView">
                            <i class="las la-eye"></i>
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </div>
</section>
<!-- End Book Area -->









<!-- Start Newsletter Area -->
<div class="newsletter-area ptb-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="newsletter-image">
                    <img src="{% static 'img/newsletter.png' %}" alt="image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="newsletter-form-content">
                    <div class="newsletter-content">
                        <h2>عضویت در خبرنامه</h2>
                        <p>برای اطلاع از آخرین کتاب های موجود و همچنین اطلاع از پست جدید در وبلاگ ما، حتما ایمیل خودتان را وارد نمایید تا در خبرنامه ی سایت، عضو شوید.</p>
                    </div>
                    
                    <form class="newsletter-form">
                        <input type="email" class="input-newsletter" placeholder="ایمیل خود را وارد نمایید" name="EMAIL" required autocomplete="off">
                        <button type="submit">
                            ثبت ایمیل
                        </button>
                        
                        <div id="validator-newsletter" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Newsletter Area -->

  <!-- Start QuickView Modal Area -->
  <div class="modal fade productsQuickView" id="productsQuickView" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true"><i class="las la-times"></i></span>
            </button>
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6">
                    <div class="products-image">
                        
                        <img src="{{book.image.url}}" alt="image">
                    </div>
                </div>

                <div class="col-lg-6 col-md-6">
                    <div class="product-content">
                        <h3>{{i.title}}</h3>
                        <div class="price">
                            <span class="new-price">{{i.price}}</span>
                            <span class="old-price">{{i.price}}</span>
                        </div>
                        <div class="product-review">
                            <div class="rating">
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                                <i class="las la-star"></i>
                            </div>
                            <a href="#" class="rating-count">5 reviews</a>
                        </div>
                        <p>{{i.description}}</p>
                        <div class="product-add-to-cart">
                            <div class="input-counter">
                                <span class="minus-btn">
                                    <i class="las la-minus"></i>
                                </span>
                                <input type="text" min="1" value="1">
                                <span class="plus-btn">
                                    <i class="las la-plus"></i>
                                </span>
                            </div>
                            <button type="submit" class="default-btn">
                                Add to cart
                                <span></span>
                            </button>
                        </div>
                        <div class="buy-checkbox-btn">
                            <div class="item">
                                <input class="inp-cbx" id="cbx" type="checkbox">
                                <label class="cbx" for="cbx">
                                    <span>
                                        <svg width="12px" height="10px" viewbox="0 0 12 10">
                                            <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
                                        </svg>
                                    </span>
                                    <span>I agree with the terms and conditions</span>
                                </label>
                            </div>
                            <div class="item">
                                <a href="#" class="btn btn-light">Buy it now!</a>
                            </div>
                        </div>
                    

                        <div class="products-share">
                            <ul class="social">
                                <li><span>Share:</span></li>
                                <li>
                                    <a href="#" class="facebook" target="_blank"><i class="lab la-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="twitter" target="_blank"><i class="lab la-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin" target="_blank"><i class="lab la-linkedin-in"></i></a>
                                </li>
                                <li>
                                    <a href="#" class="instagram" target="_blank"><i class="lab la-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End QuickView Modal Area -->
{% endblock %}