{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} اضافه کردن نویسنده جدید{% endblock %}
{% block main %}
<br><br>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label>نام نویسنده {{form.name}} </label>
        </div>
        <div class="form-group col-md-4">
             <label>آدرس نویسنده در سایت  {{form.slug}} </label>
        </div>
        <div class="form-group col-md-4">
             <label>ملیت {{form.nationality}} </label>
        </div>
        <div class="form-group col-md-4">
             <label>سال تولد  {{form.birth}} </label>
        </div>
        <div class="form-group col-md-4">
             <label>سال مرگ {{form.death}} </label>
        </div>
        <div class="form-group col-md-4">
             <label>تصویر نویسنده {{form.picture}} </label>
        </div>
        <div class="form-group col-md-4">
             <label>آیا فعال است ؟ {{form.status}} </label>
        </div>
        <div class="form-group col-md-12">
             <label>توضیحات {{form.description}} </label>
            {{form.media}}
        </div>
        <div class="form-group col-md-6">
            <button>ذخیره</button>
        </div>
    </div>
</form>
{% endblock %}