{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} اضافه کردن کتاب جدید{% endblock %}
{% block main %}
<br><br>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-4">
            <label> اسم کتاب  {{form.name}} </label>
        </div>
        <div class="form-group col-md-4">
            <label>آدرس کتاب در سایت {{form.slug}} </label>
        </div>
        <div class="form-group col-md-4">
            <label>کد کتاب {{form.code}} </label>
        </div>
        <div class="form-group col-md-4">
            <label> نویسنده  {{form.author}} </label>
        </div>
        <div class="form-group col-md-4">
            <label>مترجم {{form.translator}} </label>
        </div>
        <div class="form-group col-md-4">
            <label>ناشر  {{form.publisher}} </label>
        </div>
        <div class="form-group col-md-4">
            <label> وضعیت {{form.status}} </label>
        </div>
        <div class="form-group col-md-2">
            <label>تعداد صفحات  {{form.page}} </label>
        </div>
        <div class="form-group col-md-2">
            <label>سال انتشار به میلادی  {{form.published_date}} </label>
        </div>
        <div class="form-group col-md-2">
            <label>قیمت  {{form.price}} </label>
        </div>
        <div class="form-group col-md-2">
            <label>تصویر کتاب {{form.image}} </label>
        </div>
        <div class="form-group col-md-12">
            <label>توضیحات </label>
            {{form.media}}
            {{form.description}}
        </div>
        <div class="form-group col-md-6">
            <button>ذخیره</button>
        </div>
    </div>
</form>
{% endblock %}

