{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}  جزییات خرید فاکتور :{{object.invoice_number}} {% endblock %}
{% block main %}

<section class="invoice">
    <!-- title row -->
    <div class="row">
      <div class="col-xs-12">
        <h2 class="page-header">
          <i class="fa fa-user"></i> {{object.user.get_full_name}}
          <small class="pull-left">{{object.jpublish}}</small>
        </h2>
      </div>
      <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
      <!-- /.col -->
     

      <div class="col-sm-4 invoice-col">
        <b>سفارش :{{object.invoice_number}}</b><br>
        <br>
        <b>تاریخ پرداخت:</b> {{object.jpublish}}<br>
        <b>حساب کاربری:</b> {{object.user.get_username}}
      </div>
      <div class="col-sm-4 invoice-col">
            <br>
            <b>وضعیت سفارش:</b>  {% if object.status == 'processing' %} <td><span class="label label-info">در حال بررسی</span></td> {% elif object.status == 'sending' %}
            <td><span class="label label-warning"> در حال ارسال</span></td> {% elif object.status == 'ok' %}
            <td><span class="label label-success"> ارسال شد</span></td> {% else %}
            <td><span class="label label-danger"> برگشت از خرید </span></td> {% endif %}<br>
            <br>
            <b>وضعیت پرداختی:</b> {% if object.payment_status == False %} <td><span class="label label-danger">پرداخت نشده </span></td> {% else %}
            <td><span class="label label-success">پرداخت شده </span></td> {% endif %}
        </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
    <hr>
    <!-- Table row -->
    <div class="row" style="width: 50%;">
      <div class="col-xs-12 table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>محصول</th>
            <th>قیمت </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            {% for book in object.product.all %}
            <td>{{book.product.name}}</td>
            <td>{{book.product.price}} تومان</td>
          </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->

    <div class="row">
      <!-- /.col -->
        <div class="col-xs-6">

            <div class="table-responsive">
                <table class="table">
                    <tbody><tr>
                    <th style="width:50%">مبلغ کل:</th>
                    <td>{{object.total_payment}} تومان</td>
                    </tr>
                </tbody></table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

    <!-- this row will not appear when printing -->
    <div class="row no-print">
      <div class="col-xs-12">
        <a href="{% url 'Dashboard:order_update' object.pk %}"><button type="button" class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> وضعیت فاکتور
            </button>
        </a>
      </div>
    </div>
  </section>

{% endblock %}