{% extends 'dashboard/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} اضافه کردن ناشر جدید{% endblock %}
{% block main %}
<br><br>
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-8">
            <label> نام ناشر  </label>
            {{form.name}}
        </div>
        <div class="form-group col-md-6">
            <button>ذخیره</button>
        </div>
    </div>
</form>
{% endblock %}