{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %} لیست کتاب ها {% endblock %}
{% block main %}

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                  <div class="col-sm-6">
                      <div id="example1_filter" class="dataTables_filter">
                          <label>جستجو </label>
                              <input type="search" name="q" class="form-control input-sm" placeholder="نام کتاب" aria-controls="example1">
                        <button>جستجو</button>
                      </div>
                  </div>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>اسم</th>
                    <th>نویسنده</th>
                    <th> مترجم</th>
                    <th>ناشر</th>
                    <th>قیمت (تومان)</th>
                    <th>وضعیت</th>
                  </tr>
                  </thead>
                  <tbody>
                  {% for book in search %}  
                  <tr>
                    <td>{{book.name}}</td>
                    <td> {{book.author}}</td>
                    <td>{{book.translator}}</td>
                    <td>{{book.publisher}} </td>
                    <td>{{book.price}}</td>
                    <td>{{book.status}}</td>
                  </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!--Pagination-->
        <section class="articles-pagination">
  
            <div class="container p-4 ">
                <div class="pagination justify-content-center">
                    <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">اولین|</a>
                        <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                    {% endif %}

                        <span class="current">
                            صفحه  {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                        </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"> | آخرین</a>
                    {% endif %}
                    </span>
                </div>
            </div>

            </section>
            <!--end of Pagination-->
      </section>
      <!-- /.content -->

{% endblock %}