{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %} لیست کاربران سایت  {% endblock %}
{% block main %}


{% if messages %}
{% for message in messages %}
 <div class="text-center alert alert-{{ message.tags }}">
     {{ message|safe }}
 </div>
{% endfor %}
{% endif %}
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>نام</th>
                    <th>نام خانوادگی</th>
                    <th>نام کاربری</th>
                    <th>آدرس ایمیل</th>
                    <th>نوع کاربر </th>
                    <th>وضعیت</th>
                  </tr>
                  </thead>
                  <tbody>
                      {% for user in object_list %}  
                <tr>
                    <td>{{user.first_name}}</td>
                    <td> {{user.last_name}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    {% if user.is_superuser %}<td  class="tp-3 mb-2 bg-primary text-white"> ادمین کل سایت  <i class="fa fa-user"></i></i></td>{% elif user.is_staff  %}
                    <td class="p-3 mb-2 bg-info text-dark">کاربر شرکت  <i class="fa fa-user"></i></td>{% elif user.is_active %}
                    <td class="p-3 mb-2 bg-warning text-dark">کاربر سایت  <i class="fa fa-user-circle-o"></i></td>{% else %}
                    <td class="p-3 mb-2 bg-danger text-white">کاربر غیر فعال  <i class="fa fa-user-times"></i></td>{% endif %}
                    <td><a class="btn btn-app" href="{% url 'Dashboard:user_update' user.pk %}">
                        <i class="fa fa-edit"></i> ویرایش
                      </a>
                    <td>
                    <td><a class="btn btn-app" href="{% url 'Dashboard:user_delete' user.pk %}">
                        <i class="fa fa-trash-o"></i> حذف
                      </a>
                    <td>
                </tr>
                {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.box-body -->
            </div>
            <!-- /.box -->
          <!-- /.col -->
        </div>
        <!-- /.row -->
        <!--Pagination-->
        <section class="articles-pagination">
  
            <div class="container p-4 ">
                <div class="pagination justify-content-center">
                    <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">اولین|</a>
                        <a href="?page={{ page_obj.previous_page_number }}">قبلی</a>
                    {% endif %}

                        <span class="current">
                            صفحه  {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                        </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">بعدی</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}"> | آخرین</a>
                    {% endif %}
                    </span>
                </div>
            </div>

            </section>
            <!--end of Pagination-->
      </section>
      <!-- /.content -->

{% endblock %}